[2020-03-14 02:37] joshua-s opened #1 "Integrate secure local database"
I am considering using SQLCipher as implemented by this package https://www.github.com/davidmartos96/sqflite_sqlcipher

[2020-03-14 02:38] joshua-s opened #2 "Protect data with biometrics"

[2020-03-14 02:38] joshua-s opened #3 "[FEATURE] Add tutorial on startup"
This should contain:
1. The purpose of the data
2. The types of data being collected and their ability to opt out at any time
3. An option to enable automatic location collection
4. Setup for the required PIN and biometric (if available)

[2020-03-16 09:58] #1 closed

[2020-03-16 09:58] joshua-s commented on #1
Done!

[2020-03-20 00:39] ferndot opened #4 "Store data in an encrypted local database"
**Is your feature request related to a problem? Please describe.**
Future versions of this app will require secure local storage of sensitive data.

**Describe the solution you'd like**
Set up a secure and encrypted local storage pattern.

**Describe alternatives you've considered**
- [Hive](https://pub.dev/packages/hive)
- [SQLite with SQLCipher](https://pub.dev/packages/sqflite_sqlcipher) and [M

[2020-03-20 00:41] ferndot opened #5 "[HELP WANTED] Review the project proposal and roadmap"
*edit*: removing link to prevent spam

A WIP proposal for the project has been posted.

This needs lots of eyes. Your feedback is appreciated!

[2020-03-20 05:42] ferndot opened #6 "[FEATURE] Fallback if location services are disabled or user rejects location"
**Is your feature request related to a problem? Please describe.**
Location services may be disabled on some devices. Users may also reject the location permission. There is currently no fallback.

**Describe the solution you'd like**
A dialog pops up that allows the user to enter their zip code. The zip code is both added to the checkup and saved to local storage for later use (use Preferences).

[2020-03-20 07:35] ferndot opened #7 "Handle server failures"
**Describe the bug**
When the process of submitting data to the server fails, the app does not handle it gracefully.

**To Reproduce**
Steps to reproduce the behavior:
1. Start checkup
2. Disconnect internet connection
3. Navigate to 2nd checkup step

**Expected behavior**
1. Check internet connection
   1. If not present, notify user
2. Send request again
3. If continues to fail, notify user

**S

[2020-03-20 23:01] #5 closed, assigned to nobody

[2020-03-21 06:43] #3 closed

[2020-03-22 02:44] norlancd opened #10 "Internationalize the app"
Show the application in the language of the cell phone.

Maybe you can use flutter_localizations package.

[2020-03-22 02:57] norlancd opened #11 "MVP accessibility support"
Use

- large fonts or variable size
- screen readers
- sufficient contrast

[2020-03-22 07:46] joshua-s commented on #11
Thanks for filing this issue @norlancd. Accessibility support is absolutely critical.

[2020-03-22 07:47] ferndot commented on #11
Thanks for filing this issue @norlancd. Accessibility support is absolutely critical.

I haven't had the bandwidth to address this yet, so feel free to hop on it. Otherwise, I will pick it up soon.

[2020-03-22 08:08] ferndot commented on #10
👍 Definitely in support of this.

We will need to:
- [x] Add `flutter_localizations` and move all strings into an en-US locale.
- [x] Procure reviews from medical and legal experts concerning the app's copy.
- [x] Compile a list of languages to prioritize and source contributions for them. This data from the last census may help: https://www2.census.gov/library/publications/2013/acs/acs-22/acs-22.

[2020-03-22 08:10] ferndot opened #12 "[QA] Automated tests"
We are in dire need of automated testing to ensure the app's stability.

I will be creating issues for individual components.

[2020-03-22 08:14] ferndot opened #13 "[QA] Continuous integration"
The automated tests implemented in #12 need to be run automatically. Failures should block PR merges.

I am leaning towards using GitHub Actions for this. Any objections?

[2020-03-22 16:06] ferndot opened #14 "[BUG] Checkup navigation bar does not load immediately"
**Describe the bug**
When navigating to the second checkup step, the navigation and progress bar at the bottom of the screen does not load immediately.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a checkup
2. Tap "Start checkup" or swipe right-to-left.
3. Notice the delay in loading the navigation and progress bar.

**Expected behavior**
The navigation and progress bar are loaded i

[2020-03-22 16:47] ferndot opened #15 "[QA] Device compatibility"
Considering that some of the populations especially at risk may also have older devices, widespread device compatibility is highly important and should be a part of our QA process.

Android version market share in the USA: https://gs.statcounter.com/android-version-market-share/mobile-tablet/united-states-of-america
iOS version market share in the USA: https://gs.statcounter.com/os-version-market-

[2020-03-22 18:21] ferndot opened #16 "[FEATURE] Send data to api only after user completes checkup"
It is concerning from a user's perspective that data is being sent to the server after each checkup page. This needs to be revised to only send the data when the user clicks "submit" at the end of the checkup flow.

[2020-03-22 19:40] elavenrac opened #17 "[BUG] Health Checkup: Shortness of breath question does not show gradient scale indicators"
**Describe the bug**
When tasking the health checkup and answering the questions , the first question "Are you experiencing shortness of breath?" does not have gradient scale indicators like the other questions

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Click on [Check up on your health] button to begin survey
3. Scroll down to [Start Checkup] on the next page
4. When answer

[2020-03-22 21:31] Hixie opened #20 "[BUG] Start screen has no call to action if it's scrolled off the screen"
![Screenshot_20200322-142945](https://user-images.githubusercontent.com/551196/77261172-d3337a00-6c49-11ea-8fd2-70ea7871d63b.png)

[2020-03-22 21:33] Hixie opened #21 "[BUG] "Click here to learn more" vs "Thanks for offering to help out!""
The start screen has a button labeled "Click here to learn more" which is not a strong call to action.
The screen that appears if you click it says "Thanks for offering to help out!" which doesn't really match the call to action (the user just wanted to learn more, they didn't offer to help out).

[2020-03-22 21:36] Hixie opened #22 "[BUG] Trivial issues around "No" button"
Trivial nit: the text says to `Otherwise click "No!"` but the button is "No" with no exclamation mark.

More importantly, once you click No the button turns into another button that says "Did not agree" but that button then does nothing.

Unless you already said that you agreed, then paged back to the second page, then click No, at which point it jumps sideways...

[2020-03-22 21:37] dnfield commented on #4
May want to consider https://pub.dev/packages/flutter_secure_storage - it may be usable with the other packages.

[2020-03-22 21:38] Hixie opened #24 "[BUG] Take your temperature screen has overlapping UI elements"
After scrolling down:
![Screenshot_20200322-143737](https://user-images.githubusercontent.com/551196/77261307-d5e29f00-6c4a-11ea-974f-01f6e1e6e463.png)

[2020-03-22 21:39] Hixie opened #25 "[BUG] Take your temperature screen has padding around the scrollview"
...so it shows the glow effect in the wrong place:
![Screenshot_20200322-143822](https://user-images.githubusercontent.com/551196/77261328-f6125e00-6c4a-11ea-93b6-fdfd80e5435a.png)

[2020-03-22 21:40] Hixie opened #26 "[FEATURE] Accept temperature in Celsius"
On the "Take your temperature" screen there's no way to specify the temperature in Celsius.

[2020-03-22 22:06] dnfield opened #28 "[BUG] Avoid switching on types"
**Describe the bug**

Code like `switch (object.runtimeType)` or `if (object.runtimeType == ...` should be avoided - it's going to be easy to miss a type you should switch on and not realize it, or otherwise miss important details when refactoring code/adding new features.

Ideally the type should just be able to produce its own information from well defined methods/properties on its interface.

[2020-03-22 22:12] Hixie opened #29 "[BUG] First page of Your Health Checkup doesn't make it clear you need to scroll"
![Screenshot_20200322-151116](https://user-images.githubusercontent.com/551196/77261945-75099580-6c4f-11ea-95a4-61cc672d5c7a.png)

[2020-03-22 22:19] Hixie opened #30 "[BUG] "Your Health Checkup" doesn't have a bottom bar when contributing data"
If you select "Contribute my data", the next screen is missing the contents of the footer (though the footer itself is still there:

![Screenshot_20200322-151131](https://user-images.githubusercontent.com/551196/77262059-6cfe2580-6c50-11ea-934c-67185bc5cd60.png)

[2020-03-22 22:20] Hixie commented on #29
Also a problem when the foot is present (see #30):
![Screenshot_20200322-151936](https://user-images.githubusercontent.com/551196/77262087-9919a680-6c50-11ea-8ea8-ab7fb1e46345.png)

You can press "Continue" without ever scrolling down to the question about the fever.

[2020-03-22 22:20] ferndot opened #31 "[FEATURE] Handle case where user does not consent to the terms"
**Is your feature request related to a problem? Please describe.**
When the user does not consent to the app's usage terms, there is no additional information provided.

**Describe the solution you'd like**
Implement a new screen that notifies the user that they have not consented and will not be able to use the app. Phrase it much better than that :D

[2020-03-22 22:24] Hixie commented on #17
I'm working on this.

[2020-03-22 22:28] ferndot commented on #21
The copy on that screen is definitely not optimized for the app. It was developed for CovidNearMe.org and refers to the "website" and a "browser bookmark".

Working to get an updated version...

[2020-03-22 22:32] Hixie commented on #25
It seems to have lost its scrollview altogether now, which is even worse. :-)

edit: disregard, i was checking master

[2020-03-22 22:36] Hixie commented on #31
See also https://github.com/coronavirus-diary/coronavirus-diary/issues/22

[2020-03-22 22:37] Hixie opened #33 "[BUG] Footer and scroll view overlap on Health Checkup screen"
![Screenshot_20200322-153529](https://user-images.githubusercontent.com/551196/77262418-eac33080-6c52-11ea-97f4-63f958c41d1e.png)

[2020-03-22 22:37] Hixie opened #34 "[BUG] "It's time for your checkup" screen doesn't scroll (and overflows)"
![Screenshot_20200322-152754](https://user-images.githubusercontent.com/551196/77262439-01698780-6c53-11ea-9923-db6a14f8d4c9.png)

[2020-03-22 22:44] Hixie commented on #34
this is probably fixed on develop, i was on master when i saw this

[2020-03-22 22:44] Hixie commented on #33
this may be fixed on develop, i was on master when i saw this

[2020-03-22 22:52] #16 closed, assigned to ferndot

[2020-03-22 23:02] Hixie commented on #20
This is the current portrait version:
![Screenshot_20200322-160104](https://user-images.githubusercontent.com/551196/77263865-77bbb900-6c56-11ea-923a-91a3725b2bfe.png)

[2020-03-22 23:09] joshua-s commented on #31
Resolving as a duplicate of #22

[2020-03-22 23:17] bkonyi opened #35 "[BUG] Inconsistent use of "Zip Code" and "Postal Code""
**Describe the bug**
"Thanks for offering to help out!" says "Total daily cases for zip codes will be..." but the "Your Health Checkup" page says "We will collect your postal code".

**Expected behavior**
"zip code" vs "postal code" should either be populated based on user country, or be fixed to "zip code"
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-03-22 23:25] bkonyi commented on #26
I can take this one.

[2020-03-22 23:28] aam opened #36 "[BUG] Compilation error on flutter beta or master: Navigator.pop(context) has type void"
The app seems to be working fine on `stable` branch of flutter, but attempt to do `flutter run`  on `master`(8c0b43bda4e5ff29d399f06ce1c0e1027268d6b5) or `beta`(2294d75bfa8d067ba90230c0fc2268f3636d7584) gives the following compilation error:

[code]

[2020-03-22 23:37] xster opened #37 "[BUG] Using a scrollable page view in the checkup form is unexpected UX"
**Describe the bug**
Either emphasize the scrollable nature with page dot indicators (but uncommon UI for pages with user entry) or make it advance/reversible via buttons only.

[2020-03-22 23:38] willlarche commented on #35
Expected behavior above is good idea. Removing UX/UI since there is no need for designer intervention (bug is ready for dev.)

[2020-03-22 23:43] Einarin commented on #11
I checked, and on my Android device (Galaxy S9, Android 10) changing fonts in accessibility settings correctly changes the fonts, and the Android screen reader appears to be working (I've never used it before, but I'm able to get it to read me back all the text I tested in the app).  The layout looks ugly with really large accessibility text, but everything was still functional. I'm not sure what

[2020-03-22 23:58] willlarche opened #38 "[FEATURE] Scroll more indicator"
Fixes #20
Fixes #29
Related to #34

Theming:
Typography: Button
Icon: expand_more
Color: Same as body text on that screen

Behavior:
1. Appears when any screen is not scrolled to the end
2. Tappability is a nice to have. (Scroll a page height on tap)
3. Can exist OUTSIDE the safe area.
4. Disappears when scrolled to the end.

![Scroll More](https://user-images.githubusercontent.com/1271525/7726695

[2020-03-23 00:03] dnfield commented on #38
Would a FAB be appropriate for some of these screens?

[2020-03-23 00:06] dnfield commented on #36
There are breaking changes on master for the navigator - I'm not sure this should be supporting master though.

Running the develop branch on beta seems to work.

[2020-03-23 00:24] bkonyi commented on #26
Got something mocked up:

![image](https://user-images.githubusercontent.com/24210656/77268003-b9059600-6c61-11ea-95f8-e57f9f303f3a.png)

![image](https://user-images.githubusercontent.com/24210656/77268009-bf940d80-6c61-11ea-9caf-0fc2bac4903c.png)

![image](https://user-images.githubusercontent.com/24210656/77268013-c458c180-6c61-11ea-92a3-f186656f85fc.png)

![image](https://user-images.githubuse

[2020-03-23 00:24] willlarche commented on #38
What would be best for some of them is redoing layout to not need to scroll for sure which means we should look at all the layouts for optimizations like that. But there will also be ones that can't be rejiggered enough to avoid scroll. This solves it brute force first getting us unstuck.

[2020-03-23 00:57] bkonyi commented on #24
Hm, this doesn't seem to happen consistently. Anyway, I think something needs to be changed in the [ScrollableBody](https://github.com/coronavirus-diary/coronavirus-diary/blob/develop/lib/src/ui/widgets/scrollable_body.dart) widget to resolve this.

[2020-03-23 01:01] DarshanGowda0 commented on #24
It does happen consistently. Try scrolling it with a horizontal landscape.

[2020-03-23 01:06] javierlopez288 commented on #20
We could try splitting both content containers, so we can do this?
<img width="658" alt="layout" src="https://user-images.githubusercontent.com/5491390/77269981-ca51a100-6c67-11ea-92f0-9b92af1f3e2e.png">

[2020-03-23 01:06] bkonyi commented on #33
This appears to be fixed on `develop`.

[2020-03-23 01:06] clocksmith opened #42 "[FEATURE] Add a11y support to the sliders on the checkup page"
**Is your feature request related to a problem? Please describe.**
Sliders could have better a11y support.

**Describe the solution you'd like**
Change them to themed material sliders so that they can be controlled via the volume rockers in screen reader mode. Other a11y benefits are that the whole track will be tappable, value indicators will show the value while dragging, and they will scale app

[2020-03-23 01:11] willlarche commented on #20
That is preferred. Scroll indicator is brute force solution (#38 ).

[2020-03-23 01:53] amweinstein opened #43 "[FEATURE] Take your Temperature Help Modal Content"
CDC advises people to wait 30 mins after eating drinking or exercising before taking their temp AND waiting at least 6 hours after taking meds that could lower your temp. We may want to consider including these tips in our "How to take your Temp" help modal to prevent false positives/negatives.

Get to the modal by tapping "Need Help? Click for Instructions" on Take your Temperature screen.

[**Li

[2020-03-23 02:29] timsneath commented on #36
Actually, I'm also struggling to get the `develop` branch to work on the current `beta` (0.15).

[code]

[2020-03-23 02:56] ferndot commented on #4
@dnfield this package integrates flutter_secure_storage with hydrated_bloc. https://pub.dev/packages/knox

[2020-03-23 02:57] ferndot commented on #4
We could also easily create our own custom storage class to link hydrated_bloc and flutter_secure_storage

[2020-03-23 03:16] HansMuller commented on #10
I'm the author of flutter_localizations and can help with setting up the app to be localized.

[2020-03-23 03:40] dnfield commented on #4
So flutter_secure_storage is really meant for storing a key, rather than storing larger amounts of data. If there's only a smaller amount of data to store it's probably fine, but this would really be where we'd want to store the key or password for some other encrypted resource normally.

[2020-03-23 05:30] Hixie commented on #20
That just seems to make the problem worse -- what if there's not enough horizontal space either?

[2020-03-23 05:55] InMatrix commented on #36
I hit the same error when I was trying to run the app on beta.

[2020-03-23 06:42] ferndot opened #46 "[FEATURE] Finalize questions and copy"
We need to finalize on the questions and copy in the app so that it can be translated.

[2020-03-23 11:21] mit-mit opened #48 "[BUG] App fails to run on iOS"
**Describe the bug**
App fails to `flutter run` against iOS Simulator

**To Reproduce**
1. clone repo
1. start iOS simulator
1. `flutter run`

=>
[code]

**Expected behavior**
App launches.

**Smartphone (please complete the following information):**

iOS simulator `Version 11.3.1 (SimulatorApp-912.5.1 SimulatorKit-570.3 CoreSimulator-681.17.2)` running an iPhone 11 Pro Max

**Additional context**

[2020-03-23 12:16] mit-mit commented on #48
This appears to only repo on the `develop` branch, not on the `master` branch (you have to run `flutter clean` after switching to the develop branch to get the repro).

[2020-03-23 12:20] mit-mit commented on #48
I'm speculating this is caused by https://github.com/coronavirus-diary/coronavirus-diary/commit/444209de6ef49ace885196b244aaaec3aa4f5154 as per discussion in https://github.com/flutter/flutter/issues/41793

[2020-03-23 12:48] mit-mit commented on #48
PR in https://github.com/coronavirus-diary/coronavirus-diary/pull/49

cc @jmagman did I get this right?

[2020-03-23 13:04] JoseAlba opened #50 "[FEATURE] Desktop support"
**Is your feature request related to a problem? Please describe.**
Add Desktop support to the existing application.

**Describe the solution you'd like**
Will check the the smallest side of the application once the application reaches a certain breakpoint. It will switch to the desktop version of the application.

[2020-03-23 14:17] mit-mit commented on #43
I created a tentative fix for this

[2020-03-23 14:19] #48 closed, assigned to nobody

[2020-03-23 15:46] #17 closed, assigned to nobody

[2020-03-23 15:46] #26 closed, assigned to nobody

[2020-03-23 15:47] #25 closed, assigned to nobody

[2020-03-23 15:54] yjbanov commented on #36
This has been fixed in https://github.com/eyro-labs/flutter_hud/commit/0d5ed29fc2aa97dff2863ab824dba48264048c6a. I can send a PR to pin this repo to that version. Would that help?

[2020-03-23 15:58] timsneath commented on #36
Good idea!

On Mon, Mar 23, 2020 at 8:55 AM Yegor <notifications@github.com> wrote:

[2020-03-23 15:58] yjbanov commented on #36
https://github.com/coronavirus-diary/coronavirus-diary/pull/53

[2020-03-23 16:10] gspencergoog commented on #50
I'm happy to work on anything Desktop related.

[2020-03-23 16:50] mit-mit commented on #11
cc @clocksmith were you going to look into this?

[2020-03-23 17:02] InMatrix opened #57 "[BUG] Unusual use of the trash icon"
**Describe the bug**
The meaning of the trash icon is unclear in the screenshot below. Since clicking the icon takes the user back to the welcome screen, a back icon or a close icon can probably better signifier this action.

**To Reproduce**
Steps to reproduce the behavior:
1. Go through the welcome and user agreement screens
2. Click the "Click here to get started" button in the following screen

[2020-03-23 17:02] cyanglaz commented on #6
I'll start working on this to get the hang of the app! :)

Didn't see a PR is open for this. Will look for a different issue to work on.

[2020-03-23 17:24] #43 closed, assigned to mit-mit

[2020-03-23 17:25] edman commented on #4
Is there a plugin with support for biometry or lock screen bound keys (e.g. as in keys generated with [setUserAuthenticationRequired](https://developer.android.com/reference/android/security/keystore/KeyGenParameterSpec.Builder#setUserAuthenticationValidityDurationSeconds(int)))? I couldn't find any.

If not, [local_auth](https://pub.dev/packages/local_auth) could be used to gate access without cr

[2020-03-23 17:25] bkonyi commented on #57
This button is for debug purposes and won't appear in release builds, so I wouldn't be too concerned about the icon usage. It's just an easy way to clear the state of the app.

[2020-03-23 17:25] #57 closed, assigned to nobody

[2020-03-23 17:30] InMatrix opened #59 "[BUG] Unnecessary 'get started' screen"
**Describe the bug**
The 'get started' screen after the user agreement seems to be unnecessary, since the next screen provides sufficient instructions to the user.
![image](https://user-images.githubusercontent.com/348942/77344686-c158e200-6cf0-11ea-92db-3454c3e21e94.png)

[2020-03-23 17:44] InMatrix commented on #57
Why not just do a hot restart?

[2020-03-23 18:05] #35 closed, assigned to nobody

[2020-03-23 18:13] #36 closed, assigned to yjbanov

[2020-03-23 18:18] dnfield commented on #4
The general workflow should be:

- use `local_auth` to guard access to the keys
- store the keys using `flutter_secure_storage`
- use the keys to decrypt whatever is stored locally (e.g. SQLCipher, a file, whatever).

It would be best to avoid packages which have either hand rolled encryption or have not really been battle tested.

[2020-03-23 18:27] goderbauer commented on #34
This particular issue is fixed on develop. Closing.

[2020-03-23 18:27] #34 closed, assigned to nobody

[2020-03-23 18:30] Hixie commented on #38
Any ideas for making the text readable on this screen?:
![Screenshot_20200323-112828](https://user-images.githubusercontent.com/551196/77350356-a048bf00-6cf9-11ea-94d1-82efcb183977.png)

[2020-03-23 18:30] dnfield commented on #28
Apparently this is just how BLoC works, at least in the implementation the app is using.

I'm going to close this for now - if a new state management library is picked that's fine, but I'm not sure this is enough of a reason to pick a new one :)

[2020-03-23 18:30] #28 closed, assigned to nobody

[2020-03-23 18:45] jmagman commented on #48
Yup! (I really need to fix that...)

[2020-03-23 18:48] willlarche commented on #38
I'd say that this screen "Concerned about your health" doesn't need the scroll more indicator. It has an interrupted element (the lighter blue region) which is the hint to the user to scroll. We should use the scroll more indicator on pages where we're positive people won't find a CTA without it.

[2020-03-23 18:48] willlarche commented on #29
Footer needs an elevation and probably a different background color (white?)

[2020-03-23 18:51] willlarche commented on #38
And we should use it conservatively. Research points to people knowing to scroll: https://uxmyths.com/post/654047943/myth-people-dont-scroll

[2020-03-23 18:52] Hixie commented on #38
This is the same screen on a different display:
![Screenshot_20200323-115126](https://user-images.githubusercontent.com/551196/77352632-b99f3a80-6cfc-11ea-9fc1-8e4aff7fba88.png)

[2020-03-23 18:53] Hixie commented on #38
This isn't about people not scrolling, it's about people not knowing there's content to scroll to. The article above is mostly about pages like magazine articles where it's obvious that there's more content.

[2020-03-23 19:28] willlarche commented on #38
Good point!

[2020-03-23 19:42] #33 closed, assigned to nobody

[2020-03-23 19:43] mit-mit commented on #33
Closing per above comment, @Hixie please reactivate if you see this again

[2020-03-23 19:43] mit-mit commented on #13
@jonahwilliams can this be closed now?

[2020-03-23 19:54] jonahwilliams commented on #13
These are not blocking merges yet, but CI is otherwise running on PRs. Closing

[2020-03-23 19:54] #13 closed, assigned to timsneath, jonahwilliams

[2020-03-23 20:12] dnfield commented on #4
Another option is to just use a simple file to store this that we encrypt.  E.g. something encoded with JSON codec or the FlutterStandardCodec.

[2020-03-23 20:12] philippecao commented on #37
I agree to using buttons – it's just a much more clear and easy to understand pattern.

[2020-03-23 20:15] edman commented on #4
How do you suggest we encrypt this file? The crypto packages I find in pub don't look very battle tested.

[2020-03-23 20:24] JoseAlba commented on #50
Because a website already exist for this application we are planning on devoting our time to more critical task.

The website URL: http://covidnearme.org/

What is the plan for distribution on the desktop side of things?
What are some values added to the desktop?
Plus a lot of the plugins don't have support for desktop like the GPS tracker and the share plugin.

Future goals [optional if you have

[2020-03-23 20:27] #50 closed, assigned to nobody

[2020-03-23 20:32] dnfield commented on #4
I think right now our best bet would be to use native platform APIs with a custom plugin.  I'm going to do a quick experiment on this.

[2020-03-23 20:55] clocksmith commented on #11
Yes this task can be broken up into smaller tasks. I have started auditing the screen reader and text scaling, and @johnsonmh is working on contrast ratio testing

[2020-03-23 21:18] gspencergoog commented on #24
So, it appears that it is no longer overflowing, but it's still not an ideal experience, since everything is overlapping.

I think that the step counter and the "submit" button should not be pinned to the bottom of the screen, perhaps, but perhaps a UI designer should look at it.  Maybe those pieces of information can go into the App Bar?

![image](https://user-images.githubusercontent.com/8867023

[2020-03-23 21:30] philippecao commented on #24
I don't think the Submit button should be pinned to the bottom of the screen, either.

Because the keyboard obfuscates the rest of the screen, users won't know whether there's other content they need to see before Submitting. Therefore keeping it pinned doesn't make a ton of sense.

I think it would stay fixed and the user would either tap out of the keyboard area or tap the Done (green checkmark)

[2020-03-23 21:33] gspencergoog commented on #24
OK, I'll move the step counter and the submit button to scroll with the content.

[2020-03-23 21:35] gspencergoog commented on #24
@philippecao This will also mean that the "continue" button on the previous page would also not be pinned, and will scroll with the content, right? There's no text field on the page (yet), but it can still mean that people will miss the last slider and not enter the data.

![image](https://user-images.githubusercontent.com/8867023/77365554-916f0600-6d13-11ea-93cd-4b411f2d7bc5.png)

[2020-03-23 21:39] philippecao commented on #24
Ah, I didn't realize that they were tied together ... No, I'm not sure it makes sense for the Continue to be persistent either.

If we want the user to input all the information before continuing onwards, having it persistent suggests that they can go forward at any point. Really the continue button should be the last step of the flow after filling out all the information.

[2020-03-23 21:53] gspencergoog commented on #24
I agree.  I'll use your mocks (I just saw you posted some in the chat).

[2020-03-23 22:08] JoseAlba commented on #31
I was wondering if another page is necessary it might make more sense to use a [dialog](https://api.flutter.dev/flutter/material/Dialog-class.html) if the message is short.

[2020-03-23 22:39] #38 closed, assigned to Hixie

[2020-03-23 22:39] #20 closed, assigned to Hixie

[2020-03-23 22:39] #29 closed, assigned to Hixie

[2020-03-23 22:43] xster opened #69 "[BUG] UX issues around the tutorial flow"
**Describe the bug**
If the consent/tutorial screens are meant to force a decision before the user starts using the app, it shouldn't be a second page on the navigator. Currently, you can simply press the back button on Android to dismiss the whole sequence.

It's also confusing if the user got there accidentally and is looking to get back to the welcome page but it can't be navigated to anymore o

[2020-03-23 22:50] clocksmith opened #70 "[BUG] textScaleFactor > ~2.5 cuts off floating continue button on checkup screen"
**Describe the bug**
The text of "Step N/2" is too big and causes the button to the right to overflow.

textScaleFactor = 3
![original3](https://user-images.githubusercontent.com/591699/77370148-9db88a80-6d36-11ea-9090-ada9aff231f1.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Set textScaleFactor to 3 with MediaQuery
2. Navigate to checkup screen and scroll down to see continue button

[2020-03-23 22:55] appsforartists opened #71 "First screen isn't actionable"
## Context ##
The first screen doesn't give the user enough context to understand what this app is.  The list items look like they could be buttons.

## Suggestions ##
- [ ] Simplify the heading.  "The CovidNearMe App" is a weird name for a product.  Can we just say "Welcome to CovidNearMe."?
- [ ] Add a heading that provides context to the feature list:

    "CovidNearMe is a US Centers for Disea

[2020-03-23 22:56] clocksmith opened #72 "[BUG] Text on "Informed Consent" screen does not honor textScaleFactor"
**Describe the bug**
The main text in the "Informed Consent" does not honor textScaleFactor. It is always the same size.

**To Reproduce**
Steps to reproduce the behavior:
0. Delete current app session if one exists
1. Set textScaleFactor to 3 with MediaQuery
2. Click "Check up on your health" on the main screen
3. Observe that the consent text is not enlarged

**Expected behavior**
Consent text s

[2020-03-23 23:02] appsforartists opened #74 "Informed Consent is a wall of text"
## Context ##
If you don't read the content but just look at the structure of the Informed Consent page, it looks like a EULA.  There is important content in this page.  If you break it up to read more like an email, it's more likely to catch someone's attention when reading (and they might actually read it!)

## Suggestion ##
Here is the exact same copy, with extra linebreaks to make it more skim

[2020-03-23 23:03] appsforartists opened #75 "[BUG] Informed Consent calls this a "website""
"We will also make a map here on this website. "  This is an app.

## Screenshot ##
https://photos.google.com/share/AF1QipPNzbQ9YfdnsdI-nSG2WbrB9J5y35_mu5uOORQ4X2pNHiUvaFTdWdgB3X9Y6WxfBw/photo/AF1QipO4dHOwayIsU8og9-l1uyljqByjPEEuVbyqK-UM?key=am52QmZoVTZqOWxxWURVVE9EdkJpYUM3LWxfdGlB

## Smartphone: ##
 - Device: Essential
 - OS: Android 10 QP1A.191005.014
 - App version: 6d80da8

[2020-03-23 23:08] appsforartists opened #76 "[BUG] "Click here" doesn't work on a phone"
## Context ##
"You've joined the CovidNearMe community" invites people to "Click here to get started," even though this is a mobile product with no mouse.

## Suggestions ##
- Delete this page entirely (#59)
- Change the text to something more actionable like "Record how you're feeling today", or at least
- Use the verb "tap" instead of "click"

## Screenshot ##
https://photos.google.com/share/AF1

[2020-03-23 23:11] #42 closed, assigned to clocksmith

[2020-03-23 23:14] appsforartists opened #77 "App bar trash can deletes app state with no warning"
## Context ##
There's an unlabeled trash button in the app bar.  Tapping it resets the app to the beginning.

(The more I think about it, the more I suspect it must be debug-only.  Otherwise, it's not clear what the ramifications are: is the user deleting their data?  Is the server copy deleted?)

## Suggestions ##
- Can we remove this button?  I can't think of any other app that lets you clear yo

[2020-03-23 23:16] appsforartists opened #78 "APP_LINK in share text"
## Describe the bug ##
The Share button literally includes the text `APP_LINK`

## To Reproduce ##
Steps to reproduce the behavior:
1. Tap Share Now from the main screen.

## Expected behavior ##
There's a link that takes the user to CovidNearMe.  Instead it says "APP_LINK"

## Screenshots ##
https://photos.google.com/share/AF1QipPNzbQ9YfdnsdI-nSG2WbrB9J5y35_mu5uOORQ4X2pNHiUvaFTdWdgB3X9Y6WxfBw/pho

[2020-03-23 23:20] appsforartists opened #79 ""We will collect your zip code" should remind users they are anonymous"
## Context ##
On the Your Health Checkup screen, a switch tells users "We will collect your zipcode."

## Suggestion ##
- Remind users they are anonymous: "We will collect your ZIP Code, but **you will still be anonymous.**"

## Screenshot ##
https://photos.google.com/share/AF1QipPNzbQ9YfdnsdI-nSG2WbrB9J5y35_mu5uOORQ4X2pNHiUvaFTdWdgB3X9Y6WxfBw/photo/AF1QipMUJOD089jjjsr2Oh1xgOV1_qjqbXQEz7qYWv3e?key

[2020-03-23 23:22] appsforartists opened #80 "[BUG] Prompted for location with no context"
## Describe the bug ##
Your Health Checkup asks for my precise location without giving me any context.  This violates my expectation of privacy, which has been set up through the rest of the flow.  Informed Consent says I'm anonymous, and the previous page only says my ZIP Code will be collected.

## To Reproduce ##
Steps to reproduce the behavior:
1. Tap Check up on your health
1. Tap Start check

[2020-03-23 23:25] appsforartists opened #81 "[BUG] Design critique of "How to take your temperature""
## Suggestions ##
- [ ] Does this need to be a modal?  With so much content, it seems like it should be its own screen.
- [ ] Top-align the numbers.  They are currently center-aligned.
- [ ] Remove the top padding from the scroll pane and add it to the bottom of the header.  The divider between the two is where the top of the scroll pane should be.
- [ ] Change "Click here for instructions" copy t

[2020-03-23 23:31] appsforartists opened #82 "Submitting with no temperature doesn't allow you to add one later"
## Context ##
If I complete a health checkup without a temperature, it tells me "You have completed your checkup for today!"

I'm surprised that temperature is a requested field, but there's no way for me to submit it later.  I also wonder what happens if I develop severe symptoms later in the day, after I've already completed the survey.

I don't know if this is intentional (to prevent people fro

[2020-03-23 23:34] bkonyi opened #84 "FileSystemException when trying to navigate past consent page in tests"
**Describe the bug**
When trying to navigate to the home page in a test, a `FileSystemException` is thrown when trying to hydrate a bloc.

**To Reproduce**
Add the following code to test/image_tests.dart:

[code]
**Output**
[code]

[2020-03-23 23:44] xster opened #85 "[BUG] UX: affordance not clear on how to make the checkup screen advanceable"
**Describe the bug**
Turn off internet (to simulate poor connectivity), go to the health checkup page. There's no page advancement UI at the bottom of the page. There's no loading indicator showing something is in progress either. It looks like it's in a final state and doesn't look like the user can do anything to progress at this point.

https://streamable.com/lk7mw

[2020-03-23 23:45] appsforartists opened #86 "[BUG] The NO button - it does nothing!"
## To Reproduce ##
Steps to reproduce the behavior:
1. Tap No on the Informed Consent screen

## Expected behavior ##
I'm warned that I cannot participate without accepting, and told to either delete the app or accept the terms.

## Actual behavior ##
There's a red X on the No button, but no other apparent changes.

## Screenshots ##
https://photos.google.com/share/AF1QipPNzbQ9YfdnsdI-nSG2WbrB9J5y

[2020-03-23 23:53] jonahwilliams opened #88 "[BUG] BlocSupervisor.delegate.onError should connect to FlutterError.onError"
Otherwise the exceptions are thrown into the void, especially during tests. Otherwise, the bloc transitions can appear to get "stuck"

[2020-03-24 00:03] xster opened #91 "[BUG] UX: your personalized assessment page should have clearer, consistent flows"
**Describe the bug**

After completing the questionnaire, the results page has no buttons but can be exited via the appbar back button and the Android back button. Both affordances seem like escape hatches rather than affirmative actions saying you're done here. Consider removing the appbar back button and adding a button at the bottom saying "got it" or some such.

Upon navigating back to the sam

[2020-03-24 00:03] xster commented on #86
Same as https://github.com/coronavirus-diary/coronavirus-diary/issues/22

[2020-03-24 00:04] appsforartists opened #92 "Casing is inconsistent"
## Context ##
Throughout the app, "Title Case" is used for headings, but "Sentence case" is used for buttons.

## Suggestion ##
Be consistent.  Use Title Case for all of them, or sentence case for all of them.  The current mix doesn't follow the conventions of other apps, so it looks unpolished.

## Smartphone: ##
 - Device: Essential
 - OS: Android 10 QP1A.191005.014
 - App version: 6d80da8

[2020-03-24 00:46] HansMuller commented on #10
Initial i18n changes are https://github.com/coronavirus-diary/coronavirus-diary/pull/95

[2020-03-24 00:55] joshuadeguzman commented on #2
Hi @joshua-s, if no one's working on this, I can help and prepare the flow. Will be using [local_auth](https://pub.dev/packages/local_auth).

Although, what's the fallback for the flow for devices the do not support biometrics auth? At the back of my head, we should PIN or pass code. Let me know if this works for you.

[2020-03-24 00:58] #88 closed, assigned to nobody

[2020-03-24 01:15] cyanglaz commented on #82
I will add a popup to block user from continuing if the temperature is not entered.

[2020-03-24 01:28] dnfield commented on #2
Thanks @joshuadeguzman !  I've started some work on this.  Right now I'm working on refining some requirements with @joshua-s around encryption.

[2020-03-24 01:30] cyanglaz commented on #82
A note on UX: I think we might also want to force user to take action on the symptom/subjective page. There were times that I didn't even notice the page and hit continue.
Instead of select no symptom by default, we should force user to select a value. Going to raise an issue for this.

[2020-03-24 01:34] joshuadeguzman commented on #2
No worries!

[2020-03-24 01:37] cyanglaz opened #96 "[BUG] UX: subjective page should not select slider values by default."
**Describe the bug**
On the subjective page, by default, the sliders are selected with the lowest value. User might hit continue quickly and miss this page. It might be better to force user select a value.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'home'
1. Click on 'Check up on your health'
1. Click on 'Start checkup'
1. See that the sliders are selected

**Expected behavior**
W

[2020-03-24 02:08] javierlopez288 commented on #71
+1 I think a brief explanation upfront would be super helpful

[2020-03-24 04:12] ferndot commented on #82
Hold off on this one for the moment please. I need to confirm expected functionality here.

[2020-03-24 04:18] #75 closed, assigned to nobody

[2020-03-24 06:02] ferndot commented on #77
The button is indeed debug-only. I wouldn't put too much effort into it, but relocating it into the body with a clear description ("DEBUG: Clear all saved data") sounds like a quick improvement.

[2020-03-24 13:32] barbaraeldredge opened #100 "[BUG] Simplify text on landing screen"
Problem: Text on the First Screen is overly complicated.

Steps to reproduce the behavior:
1. Open the app

**Proposed copy**
Welcome to CovidNearMe

Do a daily health checkup
Get a personal health assessment
Help the COVID-19 response

Get started

**NOTES**
No periods -- you don't need them here
Also consider adding a smaller note at the bottom of the screen along the lines of "Created by US Nav

[2020-03-24 14:24] barbaraeldredge opened #101 "[BUG] Shorter and simpler "Informed consent" text"
Problem: Informed consent text is too long and rambling.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to landing screen
2. Click "Click here to learn more"

**Proposed text**
The information you provide will be used to assess the likelihood that you have symptoms of COVID-19, and whether you should be tested.

Along with your zip code, this data will help identify infection trends in y

[2020-03-24 14:30] barbaraeldredge commented on #100
Better text/flow coming via Google Doc

[2020-03-24 14:30] #100 closed, assigned to nobody

[2020-03-24 14:31] barbaraeldredge commented on #101
Better text / flows coming via Google doc

[2020-03-24 14:31] #101 closed, assigned to nobody

[2020-03-24 16:23] christopherfujino opened #103 "[testing] add test to ensure `gen_l10n` script has been run"
After https://github.com/coronavirus-diary/coronavirus-diary/pull/102 lands, there should be a CI test ensuring that running `gen_l10n` does not create a diff.

I will work on this issue, though I do not have permission to assign myself.

Codemagic provides `$FLUTTER_ROOT` env var.

[2020-03-24 16:23] christopherfujino commented on #103
cc @HansMuller

[2020-03-24 16:32] #30 closed, assigned to goderbauer

[2020-03-24 16:32] #37 closed, assigned to goderbauer

[2020-03-24 17:20] HansMuller commented on #10
Add local copy of Flutter-beta gen_l10n tool so that all devs can update the app's messages: https://github.com/coronavirus-diary/coronavirus-diary/pull/102

[2020-03-24 17:29] HansMuller commented on #103
https://github.com/coronavirus-diary/coronavirus-diary/pull/102 has landed

[2020-03-24 17:56] InMatrix opened #104 "Informed consent doesn't identify who's responsible for the app and user data"
**Describe the bug**
The informed consent doesn't say who's responsible for the app and the safekeeping of the data users uploaded. Missing this information can jeopardize the credibility of the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the second screen of the app by clicking the button on the landing page
2. Read through the informed consent

**Expected behavior**
The info

[2020-03-24 18:43] clocksmith opened #106 "[BUG] Not obvious that F can be changed to C on temperature screen"
**Describe the bug**
It is not obvious that F can be changed to C on the temperature screen. Using something like ToggleButtons or a dropdown Button may make it more obvious.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to temperature screen (second screen of checkup)
2. Observe F button

**Screenshots**
![Screen Shot 2020-03-24 at 2 43 01 PM](https://user-images.githubuserconten

[2020-03-24 19:12] #24 closed, assigned to gspencergoog

[2020-03-24 19:25] #103 closed, assigned to christopherfujino

[2020-03-24 19:32] JoseAlba commented on #59
Have we decided to keep this page ?  The page does look a lot cleaner now but it is still not necessary.

[2020-03-24 20:53] clocksmith opened #110 "[BUG] Main content of questions checkup screen scrolls into checkup progress bar"
**Describe the bug**
The main content of the questions checkup screen is overlapping with the progress bar at the top. There is also 80 points of bottom padding with creates a space below the content (even when scrolling).

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to the checkup page step 1/2

**Expected behavior**
The main content does not overlap with the progress bar text.

[2020-03-24 20:56] #22 closed, assigned to nobody

[2020-03-24 20:56] #31 closed, assigned to nobody

[2020-03-24 20:56] #86 closed, assigned to nobody

[2020-03-24 21:44] #110 closed, assigned to clocksmith

[2020-03-24 21:56] clocksmith opened #113 "Screenreader reads "CovidNearMe" as "covidnearme" rather than "Covid Near Me""
**Describe the bug**
Screenreader reads CovidNearMe as covidnearme rather than Covid Near Me

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on VoiceOver/Talkback
2. Traverse to a label that has CovidNearMe in it

**Expected behavior**
The screen reader should read "Covid Near Me"

[2020-03-24 22:05] clocksmith opened #114 "[BUG] IconButton on denied consent screen is missing a label/tooltip"
**Describe the bug**
IconButton on denied consent screen is missing a label. It should add a tooltip string.

**To Reproduce**
Steps to reproduce the behavior:
0. Enabled VoiceOver/Talkback
1. Navigate to the denied consent screen by clicking the No button on the consent screen.
2. Traverse to the back icon

**Expected behavior**
The screen reader announces that the back arrow goes back to the con

[2020-03-24 22:31] uiboy opened #116 "[BUG] Label text "constantly" breaks up with a single letter to the next line"
On the questions screen on step 1 of the checkup survey, the word "Constantly" breaks up in such a way that just the y overflows to the next line. ( seen at least on iPhone X). This looks weird.

Also IMHO the label text can be center aligned for slightly better aesthetics

Expected:
Afford slightly more space to label containers in the slider so that we have a better chance of single words not br

[2020-03-24 22:51] gspencergoog commented on #81
OK, so I've taken a crack at updating it. I did leave it as modal, because when I converted it to a fullscreen dialog, the close button made it seem like it would close out the data entry (like it does on the data entry screens), and leaving it modal keep it clear that it was just a side trip.

I've top-aligned the numbers, adjusted some of the copy, slightly reduced the font size, made it have a

[2020-03-24 23:01] #114 closed, assigned to clocksmith

[2020-03-25 01:17] appsforartists commented on #81
I'm hesitant to critique too much here, since I now know Phil is supporting you guys.

The particular height of this bottom sheet seems off to me though.  I'd expect the corner radius to transition to 0 as it crosses behind the status bar.

[2020-03-25 01:54] mayoreee commented on #7
I'm on it

[2020-03-25 02:29] joshuadeguzman commented on #106
Hi @clocksmith, I wonder if you guys would like to opt-in to using `Switch` over `ToggleButtons` to keep things simple as it is on other screens?

![2020-03-25 10-28-07 2020-03-25 10_28_16](https://user-images.githubusercontent.com/20706361/77495389-5e4b8480-6e83-11ea-98ab-5d1a4d4d1665.gif)

[2020-03-25 03:33] bkonyi commented on #7
@egbinola this issue is already assigned to me and I've started work on this.

[2020-03-25 09:21] mayoreee commented on #7
Alright @bkonyi

[2020-03-25 15:52] JoseAlba commented on #82
Any follow up?

[2020-03-26 07:10] #116 closed, assigned to nobody

[2020-03-26 07:34] ferndot commented on #82
Yeah. Updated functionality is that the user will not be able to change their symptom reports once they have been submitted. However, the user will be able to submit more than one report in a day.

[2020-03-26 17:10] dnfield commented on #106
Posted on the PR - I'm not sure a switch is the right idiom, since that's normally for `on/off` functions

[2020-03-26 20:58] timsneath opened #126 "[FEATURE] Change minimum age to 18"
Per the medical team, we need to change the age on the consent form:

[2020-03-26 21:00] timsneath opened #127 "[FEATURE] Update questions to final reviewed list"
Questions are here:
https://covidnearme.org/api/v1/checkup_questions

They may be hardcoded, since we don't expect them to change per Elaine.

[2020-03-26 21:04] timsneath commented on #46
[Elaine confirmed](https://discordapp.com/channels/691379274028155000/691379274028155004/692838985378299996) that https://covidnearme.org/api/v1/checkup_questions is the final list.

[2020-03-26 21:04] #46 closed, assigned to ferndot

[2020-03-26 22:02] eethomp commented on #74
Looks much better!

[2020-03-26 23:03] clocksmith commented on #127
The JSON from that API lists the answer choices under a key: 'radio_buttons'. Are the sliders on the questions page changing to radio buttons? If so, that can go together with this feature.

[2020-03-26 23:45] appsforartists opened #128 "[BUG] Not recommended for testing with 105° temperature"
## To Reproduce ##
Steps to reproduce the behavior:
1. Select highest severity of all symptoms
1. Enter 105° temperature

## Expected behavior ##
Recommended for treatment

## Actual behavior ##
"You don't meet testing criteria"

## Smartphone: ##
 - Device: Essential
 - OS: Android 10 QP1A.191005.014
 - App version: 9a4547d

[2020-03-27 00:01] appsforartists commented on #81
I'm still hesitant to critique because I trust Phil to be the source of truth.  Reopening this, because this page still needs a lot of help:

https://photos.google.com/share/AF1QipPNzbQ9YfdnsdI-nSG2WbrB9J5y35_mu5uOORQ4X2pNHiUvaFTdWdgB3X9Y6WxfBw/photo/AF1QipN0vmx08FgQCobOyYY3oIO2HSI_j6j7Ja782EAT?key=am52QmZoVTZqOWxxWURVVE9EdkJpYUM3LWxfdGlB

In particular:
- The bottom sheet is sliding behind the st

[2020-03-27 00:10] #72 closed, assigned to gspencergoog

[2020-03-27 00:13] gspencergoog commented on #70
This is no longer the case, closing.

[2020-03-27 00:13] #70 closed, assigned to gspencergoog

[2020-03-27 00:15] eethomp commented on #127
Use any UI element that captures the same # of levels. Does NOT have to be radio buttons.

[2020-03-27 03:09] clocksmith commented on #127
Formatted JSON of questions for easier readability:

[code]

[2020-03-27 03:19] clocksmith commented on #127
@eethomp The `fever` questions seems like its missing an answer value. The 3 questions before it, `shortness_of_breath`, `cough`, and `nausea` all have 4 answer values (`none`, `mild`, `moderate`, and `severe`), but the `fever` question only has 3 answer values (`no`, `maybe`, `severe`). Is that correct?

[2020-03-27 03:32] gspencergoog commented on #96
How would this work, exactly?

Maybe add a new minimum value that is labeled with an icon like ">>" or something, and default to that, and refuse to go forward if they haven't moved it off of that?

Or, maybe a semitransparent button over the slider that when clicked goes away, and they can't hit submit until they've done that for all the values? I guess that's not ideal because the slider has to

[2020-03-27 06:51] cyanglaz commented on #96
Per https://github.com/coronavirus-diary/coronavirus-diary/pull/98#issuecomment-604815684
All fields should be optional so we shouldn’t block the flow.

Maybe we should make the default slider value as some sort of “N/A”. This way we know when the value is “no coughing”, it is explicitly selected by the user.

[2020-03-27 11:38] eethomp commented on #104
Waiting on app branding from federal agencies.

[2020-03-27 11:40] eethomp commented on #106
There's another version where we don't worry about F vs. C and collect either. It's blindingly obvious in the database which units were used.

[2020-03-27 11:46] eethomp commented on #96
Set the defaults to "no" for the first visit. It occurs to me that we may want to retrieve & display the previous visit's symptoms through an API to set defaults for the next round of data entry. What do you think?

[2020-03-27 11:57] eethomp opened #131 "UX Consent denied screen is coercive"
Wording of the consent denied screen is coercive and suggests the user needs to consent. Coercion is illegal in human subject studies. Replace with something like "Thank you for considering joining our effort. If you change your mind you can come back later."

Your writers can wordsmith from there.

[2020-03-27 16:04] gspencergoog commented on #96
Here's what my PR looks like.  Is that sort of what you were imagining?

![image](https://user-images.githubusercontent.com/8867023/77775589-f6737600-7009-11ea-95d7-85b918aff46b.png)

[2020-03-27 16:06] dnfield commented on #106
In that case why don't we just autodetect it in the UI?  We display C or F based on the input value.

[2020-03-27 16:27] cyanglaz commented on #96
Yes. I personally like this better over the previous slider approach.

[2020-03-27 17:45] gspencergoog commented on #96
It has the advantage of not having a default value.

[2020-03-27 17:54] #59 closed, assigned to nobody

[2020-03-27 17:54] #76 closed, assigned to gspencergoog

[2020-03-27 19:36] gspencergoog commented on #81
I agree it still needs some work.  I tried top aligning the first line, and it looked wrong when there was only one line because the line is so much smaller than the icon then.

[2020-03-27 19:43] gspencergoog commented on #81
Here's what it looks like top-aligned.  The "Wash your hands using soap and water" entry looks really odd to me...

![image](https://user-images.githubusercontent.com/8867023/77794053-701a5c80-7028-11ea-9bf5-ff2f129a39b1.png)

[2020-03-27 20:52] dnfield opened #134 "[BUG] Make localizations available to BLoCs"
The BLOC objects have no idea about build contexts or how to get localizations from them.  But some blocs need to know localized strings.  We should figure out a way to get the localizations pumped down through the bloc supervisor or somesuch, so that blocs can access localizations.  Then we should fix any place where a bloc is using a non-localized string, such as in https://github.com/coronaviru

[2020-03-27 21:01] ferndot commented on #96
That is really nice!

[2020-03-27 21:11] gspencergoog commented on #81
I tried converting it to a regular dialog, and I like that better. The interaction is more natural, and it doesn't go under the notification area. I'll make up a PR.

![image](https://user-images.githubusercontent.com/8867023/77800773-c7262e80-7034-11ea-87a8-f0ab82477c48.png)

[2020-03-27 21:20] #96 closed, assigned to nobody

[2020-03-27 21:59] appsforartists commented on #81
There are plenty of things we could try, but I'm reluctant to have too many cooks.

:+1: on the regular dialog; I defer to Phil for the alignment treatment.

[2020-03-27 22:35] #134 closed, assigned to gspencergoog

[2020-03-27 22:39] #126 closed, assigned to nobody

[2020-03-27 22:41] dnfield commented on #128
The application currently just returns a random value.  This is pending impelmentation of the API backend.

[2020-03-27 23:37] aadarsh-patel commented on #69
This issue has been resolved by #124 .

[2020-03-28 01:04] HansMuller commented on #10
Added the "Informed Consent" text and other user facing strings to app_en.arb: https://github.com/coronavirus-diary/coronavirus-diary/pull/139

[2020-03-28 05:58] #69 closed, assigned to nobody

[2020-03-28 06:02] aadarsh-patel commented on #12
Hey @joshua-s ,
I am having trouble running integration test `smoke_workflow.dart`.

I ran command, `flutter drive --target=test_driver/smoke_workflow.dart `
and i got the following errors,
[code]

[2020-03-28 16:52] sunmughan opened #141 "[FEATURE] Stage based comparison"
Hi buddy, i appreciate your hardwork. You're doing good. Kindly add these features:
Volunteer support (registrations)
Stage based comparison (Stage 1 to 4 based rankings)

And if possible, could you please share the build. I want to test it

[2020-03-28 22:50] Kratii16 opened #142 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2020-03-28 22:51] #142 closed, assigned to nobody

[2020-03-29 02:48] ferndot commented on #12
@jonahwilliams do you have any ideas as to what could be causing this ^

[2020-03-29 03:03] aadarsh-patel commented on #12
I am not sure but I think integration tests `smoke_workflow_test.dart` is currently just a blueprint of tests to be performed with some dummy data.

Because the string value of
`final learnMoreButton = find.text('Click here to learn more');`  in test

[code]

does not match up with the value present in the `app_localizations_en.dart`
i.e. ` String get tutorialIntroStepLearnMore => 'LEARN MORE';`

[2020-03-29 07:38] ferndot commented on #141
Hello @sunmughan, could you explain more about these two features? You can find a debug APK for the app here: https://drive.google.com/drive/folders/175s_vMBWTg_XlsTOumz4IYynTahhMZpp?usp=sharing

Please keep in mind that this is not the final version and will be changing substantially.

[2020-03-29 07:42] ferndot commented on #21
This has been sorted out in the new informed consent that will be merged soon. Closing!

[2020-03-29 07:42] #21 closed, assigned to ferndot

[2020-03-29 07:43] ferndot commented on #6
Closing. As per the new scope for v1.0, we will not be using location services.

[2020-03-29 07:43] #6 closed, assigned to nobody

[2020-03-29 07:47] ferndot commented on #80
Thank you for reporting this! As per the new requirements for v1.0, location services will not be used and this can be closed.

[2020-03-29 07:47] #80 closed, assigned to nobody

[2020-03-29 18:05] #128 closed, assigned to nobody

[2020-03-29 18:06] gspencergoog commented on #81
I think I'm going to close this for now: I think we've reached the point where it  is pretty good, and we can open individual issues if it needs adjustment. Please reopen if you disagree.

[2020-03-29 18:06] #81 closed, assigned to gspencergoog

[2020-03-29 18:10] gspencergoog commented on #106
Sounds great.  I can take this one.

[2020-03-29 23:52] #106 closed, assigned to gspencergoog

[2020-03-30 06:04] sunmughan commented on #141
The features that are more helpful these days:
1. Volunteer
 --> As you know due to lockdowns, most of the population in the world are inside their home. They aren't allowed to go outside and buy the foods or needed items. So with this Option, people who want to serve the community with their voluntarily skills can register and start helping people who are at home by sharing foods, medicines and a

[2020-03-30 06:09] sunmughan commented on #141
Ì

__________________________________________________
Good work bro :)
I am also developing an app which will help people from corona through quotes, messages, government instructions and updates, sharing and donations. I like the feature for self diagnosis you added in the app. I wish to use this in my app also. If you insist, can you add the feature in my app ? I will share my source code with y

[2020-03-30 13:39] the1220 commented on #4
would this be any help to you all https://bitbucket.org/wmtp/dha-encryption/src/master/README.md

[2020-03-30 15:21] the1220 opened #144 "[BUG] iOS build"
Xcode build done.                                           32.2s
Failed to build iOS app
Error output from Xcode build:
↳
    2020-03-30 08:09:50.605 xcodebuild[40106:3519754]  DTDeviceKit: deviceType from 171f74cd131d0827583b2f8efac40ce7c889dfe2 was NULL
    2020-03-30 08:09:50.674 xcodebuild[40106:3519754]  DTDeviceKit: deviceType from 171f74cd131d0827583b2f8efac40ce7c889dfe2 was NULL
    ** BU

[2020-03-30 16:29] #144 closed, assigned to nobody

[2020-03-30 18:39] ferndot commented on #91
As per the new PRD, there will not be an assessment page. Closing this.

[2020-03-30 18:39] #91 closed, assigned to nobody

[2020-03-30 18:51] #127 closed, assigned to gspencergoog

[2020-03-30 18:58] ferndot opened #145 "[Symptom Report] Replace Assessment screen with Thank You screen"
Requirements:
After completing a Symptom Report, the user should be directed to a Thank You screen
- “Thank you for submitting your data and supporting the COVID-19 response effort”
- Call to action to return to the app on the following day
- Call to action to share the app
- Button to return to the Home Screen

Acceptance criteria:
- [x] The `Assessment` model has been deleted and all references

[2020-03-30 19:16] ferndot opened #146 "[Symptom Report] Implement new SymptomReport data model"
The old Checkup flow is being phased out and replaced with a new Symptom Report flow. A new data model should be created to facilitate this.

Data model: https://drive.google.com/file/d/1BqJucJ-xkWmlvHmAArwvYk-TqNhXjheT/view?usp=sharing

Acceptance criteria:
- [ ] The old `Checkup` model and its related models (CheckupLocation, SubjectiveQuestionResponse, VitalsResponse) have been deleted
- [ ] A

[2020-03-30 20:13] ferndot opened #149 "[Symptom Report] Rename Checkup route and bloc to "Symptom Report""
As per the PRD, the "Checkup Flow" is becoming the "Symptom Report Flow".

Acceptance criteria:
- [ ] The Checkup route and its components have been renamed
- [ ] The Checkup bloc and its events/states have been renamed

Renaming of the `Checkup` model is being tracked in #146

[2020-03-30 20:22] ferndot opened #150 "[Symptom Report] Move Informed Consent to the Symptom Report flow"
Requirements:
- The second step of the Symptom Report should require the user to accept an Informed Consent.
   - This has been provided in [The MVP Questionnaire Doc](https://docs.google.com/document/d/18oaJbmLTKxK3sHRysLY4lePaTQduWsPZY6ZJ1A_VQ2Q/edit?usp=sharing).
      - Omit the block tagged "\<not MVP>".
   - Additional blank lines may be inserted for readability.
   - If the Informed Consent

[2020-03-30 20:25] ferndot commented on #85
This is now resolved!

[2020-03-30 20:25] #85 closed, assigned to nobody

[2020-03-30 20:31] ferndot opened #151 "[Symptom Report] Confirm the location in which the user is experiencing symptoms"
Requirements:
- After accepting the Informed Consent in the Symptom Report flow, the user should be prompted to enter the country or zip code where they are experiencing symptoms.
  - If they have already provided a country or zip code, confirm that their saved location is the location where they are experiencing symptoms.
  - The user’s selection should be persisted, but they should be given an o

[2020-03-30 20:41] ferndot commented on #14
This has been resolved by the implementation of the new progress bar.

[2020-03-30 20:41] #14 closed, assigned to ferndot

[2020-03-30 20:53] goderbauer commented on #145
I am in the process of ripping out the assessment model.

With this change, can people submit as many symptoms reports per day as they want? Previously, the assessment model stored the data and it was enforced that only one report per day is made. Is that restriction removed now? Or do we need to store the date in another model?

[2020-03-30 21:08] ferndot commented on #145
@goderbauer that restriction is now removed. The user may eventually be prompted daily to report their symptoms, but if things change (which can happen rapidly with this virus), they should be allowed to report an update.

[2020-03-30 22:31] goderbauer commented on #146
The current model also allows only one completed symptoms report. After you've completed it, you cannot complete it a second time. I noticed this while working on https://github.com/coronavirus-diary/coronavirus-diary/pull/153.

[2020-03-31 01:12] ferndot opened #156 "[Tutorial] Add location selector"
As per the PRD, the user will be prompted for their location in the tutorial. This should be saved to their preferences and will be used as a default in other locations in the app.

The screen currently located in the checkup/Report Symptoms flow can be reused for this. Perhaps the common elements of both screens could be unified.
![Screenshot_1585616927](https://user-images.githubusercontent.com/

[2020-03-31 01:16] ferndot commented on #146
@goderbauer in the current world, the symptom report will not be retained on the device. Consequently, the bloc can be reset once the report is submitted. Does that make things easier?

[2020-03-31 01:36] clocksmith opened #157 "[Documentation] Add json_serializable instructions to README"
In order to generate the .g.dart json files in model, I have been running:

[code]

Is there a better way? If it is this or something else, it should be added to the README

[2020-03-31 01:41] #146 closed, assigned to clocksmith

[2020-03-31 01:41] #149 closed, assigned to clocksmith

[2020-03-31 03:42] ferndot commented on #157
You can use `flutter pub run build_runner build --delete-conflicting-outputs` to build once and remove old generated files.

Or, to start a process to watch for changes and fire a rebuild:
[code]

[2020-03-31 06:11] ferndot opened #158 "[FEATURE] Integrate with the CovidNearMe.org API"
*Important:* this API is yet to be made available. This ticket will be updated with more information once that happens.

Acceptance criteria:
- [ ] A basic API client has been added
- [x] ~~Token authentication has been implemented using the endpoint provided by CovidNearMe.org~~ We were given a static API key to keep this simple.
- [ ] The Symptom Reports repository has been modified to use the C

[2020-03-31 06:16] ferndot commented on #158
Since this initial task will only involve 2 endpoints, I put both under the scope of this issue. We can split it out if preferred.

[2020-03-31 06:18] ferndot commented on #10
Thanks @HansMuller!

[2020-03-31 19:34] #113 closed, assigned to JoseAlba

[2020-04-01 00:17] #157 closed, assigned to gspencergoog

[2020-04-01 01:28] HansMuller commented on #10
Localized country names: https://github.com/coronavirus-diary/coronavirus-diary/pull/162

[2020-04-01 01:55] gspencergoog commented on #156
I'm not quite clear: will the user be asked twice about their location, once in the tutorial, and once in the checkup? Is one for their "usual" location, and one for the location where they are when entering their checkup information?

I assume that the one in the tutorial will not happen more than once, correct? And the one in the checkup should probably default to the values set in the preferenc

[2020-04-01 03:02] #92 closed, assigned to nobody

[2020-04-01 03:02] #131 closed, assigned to gspencergoog

[2020-04-01 03:08] gspencergoog opened #164 "[TASK] Remove the location permission and permission request from the app."
Per the PRD, we no longer want fine-grained location information collected, just ZIP code (in the US), or country.

There is currently code in the app that requests fine grained location information, and it needs to be removed.

The code is in ./lib/src/ui/screens/symptom_report/symptom_report_loaded_body.dart

[2020-04-01 03:30] ferndot commented on #156
@gspencergoog the user will initially be prompted in the tutorial for their location. This location will be used as an app-wide default.

When the user enters the symptom report flow, they will be asked to confirm that their app-wide location is where they are experiencing symptoms (with the option to change it). Changes here will be propagated to the app-wide default.

When the user views the loc

[2020-04-01 05:47] #164 closed, assigned to ferndot

[2020-04-01 16:14] ferndot opened #166 "[BUG] Clean up old strings"
There are some strings in the translation files that are not surfaced in the UI anymore, including relics from the assessments screen. These should be removed in preparation for string freeze.

[2020-04-01 16:37] ferndot commented on #12
@aadarsh-patel thanks for your patience. Apparently, this smoke test has been breaking for a while and is not up to date with the current state of the app.

[2020-04-01 16:39] christopherfujino commented on #12
It hasn't been running on pre-submit, I'm currently working on getting that back.

[2020-04-01 17:24] christopherfujino commented on #12
Should be running on pre-submit now.

[2020-04-01 20:55] bkonyi commented on #158
Will this issue also encompass #7 or do we want to keep these separate?

[2020-04-01 21:09] #156 closed, assigned to gspencergoog

[2020-04-01 21:25] ferndot opened #171 "[Symptom Report] Reset SymptomReport bloc when report is submitted"
After submission, the SymptomReport bloc should be reset to allow the user to create another report.

[2020-04-01 21:37] gspencergoog opened #172 "[FEATURE] Need to have an about dialog that displays version and dependent licenses."
Because we use other open source software that needs to have their licenses displayed, and because it might be important to know version information when troubleshooting, we need to have an "About" dialog with appropriate information in it.

[2020-04-01 22:03] HansMuller commented on #10
Removed unused messages: https://github.com/coronavirus-diary/coronavirus-diary/pull/173

[2020-04-01 22:16] HansMuller commented on #166
https://github.com/coronavirus-diary/coronavirus-diary/pull/173

[2020-04-01 22:16] #166 closed, assigned to nobody

[2020-04-01 23:28] #145 closed, assigned to goderbauer

[2020-04-02 04:03] ferndot opened #176 "[Local Statistics] Screen and location selector"
Requirements:
- A Local COVID-19 Statistics Screen should be created.
  - The user should be able to manually enter a zip code or country.
  - The default selected location should be determined by the following rules:
    - If the user provided a location in the tutorial, that value should be used by default.
    - Otherwise, if the user’s recent locations list is not empty, the most recent locati

[2020-04-02 04:06] ferndot opened #177 "[Local Statistics] Totals"
Requirements:
- The Local Statistics screen should display Cases, Deaths, and Recoveries totals.

[2020-04-02 04:07] ferndot opened #178 "[Local Statistics] Case chart"
Requirements:
- The Local Statistics screen should display a line chart showing cases, deaths, and recoveries over time.

[2020-04-02 04:08] ferndot opened #179 "[Local Statistics] API Integration"
Requirements:
- Case statistics for the specified location should be fetched from an API exposed by CovidNearMe.org.
  - This API will require the user’s zip code or country and return case statistics with county-level or country-level granularity.
  - The API accepts two character ISO 3166-2 alpha 2 country codes, with Kosovo represented as XK.

------

# Locations API

Endpoint: http://covidnear

[2020-04-02 04:14] ferndot commented on #158
@bkonyi let's keep this separate for now. This issue is mainly focused on connecting the API client to the Symptom Reports repository. The individual consumers of the repository/blocs may need to handle errors differently.

[2020-04-02 06:57] ferndot opened #180 "[Symptom Report] Remove temperature step"
Now that temperature is included alongside the other questions, the custom temperature step is superfluous.

[2020-04-02 06:58] ferndot commented on #158
I received definition concerning this. Will be updating this issue and hooking up a basic API client.

[2020-04-02 07:06] ferndot commented on #84
@bkonyi we may wish to check if this still exists after #175 is merged

[2020-04-02 07:11] ferndot commented on #4
@the1220 thanks for suggesting that! Unfortunately, it is for JavaScript applications, so it won't work for this project.

[2020-04-02 07:12] ferndot commented on #4
Postponing this issue until the MVP is launched--there is no sensitive data stored locally in the first version.

[2020-04-02 17:52] bkonyi commented on #84
Sounds good. I have a feeling this may have been resolved already anyway.

[2020-04-03 00:34] gspencergoog commented on #151
I think I fixed this with #169. Please reopen if it isn't what was desired.

[2020-04-03 00:34] #151 closed, assigned to nobody

[2020-04-03 00:38] gspencergoog commented on #180
Ahh, so was the "How high did your temperature get today?" question meant to replace that?

I kept it in because I thought the difference was that the temperature page was asking "what is your temperature right now?" as opposed to the one in the question flow, which was asking about a daily maximum.

[2020-04-03 02:58] #172 closed, assigned to gspencergoog

[2020-04-03 08:01] ferndot commented on #180
@gspencergoog yeah, that replaced it. Thanks for clarifying (I forgot to put its removal in the first issue).

[2020-04-03 16:15] #180 closed, assigned to gspencergoog

[2020-04-03 22:11] clocksmith commented on #179
@joshua-s Is there already an API that exists? Where can it be tested? What does the response look like?

[2020-04-04 06:16] ferndot commented on #179
@clocksmith just received the specs. Will be adding them to the issue over the weekend!

[2020-04-04 08:35] #150 closed, assigned to ferndot

[2020-04-04 08:54] ferndot commented on #179
Updated!

[2020-04-04 17:21] clocksmith commented on #11
I made an a11y tag for accessibility related bugs:
https://github.com/coronavirus-diary/coronavirus-diary/issues?q=label%3Aa11y

So far everything is looking good.

[2020-04-04 17:36] clocksmith commented on #179
Thanks!

The API works for some zip codes (https://covidnearme.org/api/v1/locations?zip=33326), but is missing data for other zip codes. For example, these zip codes in Brooklyn and Manhattan in NY are showing 0 cases:
https://covidnearme.org/api/v1/locations?zip=11211 (Brooklyn)
https://covidnearme.org/api/v1/locations?zip=10011 (Manhattan)

Is the data in the API still being populated?

[2020-04-04 17:40] clocksmith commented on #177
How will the totals be determined? The data from Locations API only gives counts per day since 3/22/20. If that is to be summed, won't it be an incomplete total?

[2020-04-05 06:54] #158 closed, assigned to ferndot

[2020-04-05 06:55] ferndot commented on #179
@clocksmith the data in the API is ultimately sourced from the Johns Hopkins dataset. I will surface these missing zip codes and let you know why they are empty.

[2020-04-06 06:05] #71 closed, assigned to nobody

[2020-04-06 08:37] ferndot commented on #82
As per the above comment, this issue is resolved.

[2020-04-06 08:37] #82 closed, assigned to nobody

[2020-04-06 21:14] ferndot commented on #177
@clocksmith I added some clarification about this to the API issue. These numbers are totals rather than daily case/death/recovery counts.

[2020-04-06 22:28] #171 closed, assigned to gspencergoog

[2020-04-07 02:22] #77 closed, assigned to nobody

[2020-04-07 02:26] ferndot commented on #141
@sunmughan thanks for the patience: I have been absolutely buried in work lol. Those are really interesting ideas. I especially like the volunteering idea. It has a lot of potential to bring folks together and start a grassroots community effort.

I can't make any promises concerning if/when/how these will be added (trying very hard to ship a pared-down MVP), but they can definitely be considered.

[2020-04-07 02:30] ferndot commented on #141
@sunmughan it's cool that you are developing an app too! I'd love to see it if you'd like to share. Concerning the self diagnosis feature, we actually pivoted away from it. It has a lot of regulatory and ethical concerns because it was essentially providing medical advice. Also, the CDC has developed a self-diagnosis tool: https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html. M

[2020-04-07 02:31] joshua-s commented on #78
Is there a good way to generate this? Or, does it need to be hardcoded?

[2020-04-07 06:07] sunmughan commented on #141
This is my version. Kindly check this out. We have added lots of features in this app. Now we are looking for User tracking system which will store user data in our server and when they get positive with covid 19, we will capture there past location and travelling history along with the people who comes in contact with them. We will public our source on github today. Kindly review this app and we

[2020-04-08 10:14] ferndot commented on #78
@appsforartists fixed in #194

[2020-04-08 10:15] ferndot commented on #84
This was resolved when the new flow was implemented!

[2020-04-08 10:15] #84 closed, assigned to nobody

[2020-04-09 01:11] #78 closed, assigned to ferndot

[2020-04-09 01:13] ferndot commented on #11
@clocksmith since basic a11y support is added, do you think this can be closed for the MVP?

[2020-04-09 01:13] ferndot commented on #7
@bkonyi are you still working on this?

[2020-04-09 02:09] bkonyi commented on #7
I can still, was just waiting for some networking code to be in place :-)

[2020-04-09 22:37] ferndot commented on #7
@bkonyi sweet! It should be ready. We are just using a couple endpoints (report submission and local statistics). If you go to the discord, I can send you a testing api key.

[2020-04-09 22:39] ferndot commented on #104
@InMatrix this has been resolved by 8b6c29438ae1a7bb942ef3f1069bebb2dae7fef1. When we ship, the brand will be there.

[2020-04-09 22:39] #104 closed, assigned to ferndot

[2020-04-10 00:13] ferndot commented on #177
@clocksmith are you still planning on working on this?

[2020-04-10 20:09] bkonyi commented on #176
Some things have come up  so I'm going to unassign myself for now as to not block work on this feature. Will come back to it if it's still here when I find some time.

[2020-04-10 20:59] ferndot commented on #176
@bkonyi thanks for the update.

[2020-04-10 21:01] ferndot opened #199 "[Symptom Report] Location should be required"
The Symptom Report allows the user to proceed past the location step without entering a location. Data without a location is not useful and also causes a server error. The location in this step (but not the tutorial step) should be required.

[2020-04-11 02:44] ferndot commented on #79
Thanks for reporting this @appsforartists. That particular UI element has now been removed and the app has also been updated to remind folks that they are anonymous on multiple screens!

[2020-04-11 02:44] #79 closed, assigned to nobody

[2020-04-11 02:46] ferndot commented on #12
Since the testing infrastructure has been configured and is running successfully, this issue can be resolved! Further automated testing fixes/improvements can be placed in new issues.

[2020-04-11 02:46] #12 closed, assigned to jonahwilliams

[2020-04-13 16:23] shihaohong opened #200 "[BUG] App bar title string is truncated in temperature instructions screen"
**Describe the bug**
On the "When and how to take your temperature" screen, the title in the app bar is truncated.

**To Reproduce**
Steps to reproduce the behavior:
1. From first screen, tap "GET STARTED"
2. From first "Record your symptoms" screen, tap "GET STARTED"
3. From second "Record your symptoms" screen, enter a country and zip code and tap "CONTINUE".
4. Scroll down to "How high did your

[2020-04-13 18:20] mmcc007 commented on #15
Sylph can be used to run integration tests on hundreds of devices including older devices:
https://github.com/mmcc007/sylph
Works with codemagic.
Can submit PR if interested.

Here is a sample config file:
[code]

[2020-04-13 18:44] #200 closed, assigned to nobody

[2020-04-14 23:48] gspencergoog opened #205 "[BUG] Symptom location doesn't default to preferences location."
**Describe the bug**
When you go through the flow, the app asks for location after the tutorial step, and it is supposed to use that preferences value for the default in the location dialog for the symptoms step, but it no longer does that, it reverts to United States.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app (clear data if necessary)
2. Go through the tutorial, and selec

[2020-04-15 03:35] #205 closed, assigned to nobody

[2020-04-15 05:06] ferndot commented on #179
Will be fixed by 1195402d203b5274dadfb5c6b34c526615d30117

[2020-04-15 22:36] ferndot commented on #10
@HansMuller is there any work left on this issue (for the scope of the MVP)?

[2020-04-15 22:51] HansMuller commented on #10
We'll probably update the localizations again, but other than that, the MVP work is done.

[2020-04-16 08:37] ferndot commented on #10
Sweet, thanks @HansMuller and @shihaohong :)

[2020-04-16 15:11] #10 closed, assigned to HansMuller

[2020-04-16 22:37] shihaohong opened #210 "[BUG] Smaller devices result in overflow on "How to stay healthy page""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure user data is cleared if the app was already accessed and "I agree" was already selected for consent. To do this in debug mode, on the home page, click on the "More options" icon on the top right of the screen and tap clear user data.
2. Select "Get Started" on th

[2020-04-17 08:28] #210 closed, assigned to nobody

[2020-04-21 02:46] #176 closed, assigned to ferndot

[2020-04-21 02:46] #177 closed, assigned to ferndot

[2020-04-21 02:46] #178 closed, assigned to clocksmith

[2020-04-21 02:46] #179 closed, assigned to ferndot

[2020-04-21 02:47] ferndot commented on #11
Closing since I have not heard otherwise and everything seems in line.

[2020-04-21 02:47] #11 closed, assigned to clocksmith

[2020-04-21 02:58] ferndot commented on #141
@sunmughan btw I saw your new GitHub repo. It is looking really nice and I may help a bit if I get any free time!

[2020-04-21 03:08] sunmughan commented on #141
I hope you are fine bro :)
The sources aren't updated there. If you need updated source i will provide
you bro :)

I was waiting for your reply from a long time. Thankyou so much bro for
your appreciation and support. I would love if you collab with us 😍🤩

On Tue, 21 Apr 2020, 08:28 Josh Smith, <notifications@github.com> wrote:

[2020-04-21 03:31] ferndot commented on #141
@sunmughan I do apologize for the delay. This time has been very busy for me (5 concurrent projects).

[2020-04-21 19:30] sunmughan commented on #141
I appreciate your work. I will be waiting for your reply when you finished up your projects. Be safe, stay home 😊

[2020-04-22 16:47] #7 closed, assigned to bkonyi

[2020-10-29 22:13] Kratii16 opened #216 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-29 22:15] Kratii16 opened #217 "[FEATURE] 216:hit my heart with disrespect Mother Nature"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-29 22:16] Kratii16 opened #218 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-29 22:25] Kratii16 opened #219 "[BUG] think twice that is the nice human man being thinking on professional work? Or worst words"
**Describe the bug**
A clear and concise description of what the bug is. no clothes that I give to the newspaper a for?! How about your daughter instead!!?![image](https://user-images.githubusercontent.com/44137878/97638924-2edfa480-1a70-11eb-9468-4b57031ad80a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2020-10-29 22:25] Kratii16 opened #220 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2020-12-30 21:54] Kratii16 opened #222 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-30 23:24] Kratii16 commented on #222
Topic at above invaluable, I suppose. Let it go .